@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll linear infinite;
}

@keyframes fixture-scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-fixture-scroll {
    animation: fixture-scroll linear infinite;
}